.statistics {
  background-color: rgb(173, 168, 173);
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin: 50px;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
}

.title {
  background-color: #fff;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  padding-top: 30px;
}

.stat-list {
  display: flex;
  list-style: none;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

.item {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(192, 75, 75);
  padding-left: 7px;
}
.item:nth-of-type(1) {
  background-color: rgb(70, 178, 228);
}

.item:nth-of-type(2) {
  background-color: rgb(185, 55, 197);
}

.item:nth-of-type(3) {
  background-color: rgb(238, 24, 24);
}

.item:nth-of-type(4) {
  background-color: rgb(23, 206, 93);
}

.item:nth-of-type(5) {
  background-color: rgb(247, 243, 17);
}

.label {
  font-size: 18px;
}

.percentage {
  font-size: 24px;
  font-weight: 700;
}
